*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    height: 100vh;
    width: 100vw;
}
.box{
    height: 10%;
    width: 20vw;
    position:fixed;
    right: 0px; 
    top:0px;
    display: flex;
    
}
.filter1{
    border: 3px solid;
    height: 10vh;
    width: 33%;
}
.sec{
    height: 50%;
    border: 1px solid;
}

.score{
    height: 10%;
    background-color: rgb(235, 19, 19);
}

.goalpost{
    height: 22%;
    background-color: rgb(173, 217, 245);
    display: flex;
    justify-content: center;
}
.goalpost img{
    height: 22vh;
    width: 20vw;
}

.football{
    height: 38%;
    background-color: rgb(241, 241, 128);
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* position: fixed; */
} 

.football img{
    height: 9vh;
    width: 5vw;
    margin: 8%;
    /* margin-top: -5%; */
    margin-left: 45%;
   
}
.player{
    height: 30%;
    background-color:greenyellow;
    display: flex;
}
.player1{
    height: 100%;
    margin-left: 15%;
    width: 12vw;
}
.player1 img{
    margin: 5%;
    height: 85%;
    width: 85%;
}
@keyframes moveDown {
    0% {
      top: 0vh;
      right: 0vw;
    }

    100% {
      top: calc(100vh - 10rem);
      right: 0vw;
    }
  }